<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar ">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " href="{% url 'dashboard' %}">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->

{#        <li class="nav-item">#}
{#            <a class="nav-link collapsed" href="{% url 'sucursal_list' %}">#}
{#                <i class="bi bi-building"></i>#}
{#                <span>Sucursales</span>#}
{#            </a>#}
{#        </li><!-- End Branches Page Nav -->#}
{##}
{#        <li class="nav-item">#}
{#            <a class="nav-link collapsed" href="{% url 'boxes_list' %}">#}
{#                <i class="bi bi-box-seam"></i>#}
{#                <span>Cajas</span>#}
{#            </a>#}
{#        </li><!-- End Box Page Nav -->#}

        <li class="nav-item">
            <a class="nav-link collapsed" href="#">
                <i class="bi bi-people"></i>
                <span>Usuarios</span>
            </a>
        </li><!-- End User Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="pages-register.html">
                <i class="bi bi-clock"></i>
                <span>Control de accesos</span>
            </a>
        </li><!-- End User access Nav -->

    </ul>

</aside><!-- End Sidebar-->